<%- include('../partials/header', { title: "Message Board" }) %>
<main class="container py-5">
    <div class="card mb-3 col-md-8">
        <%- include('../partials/card', { message, link: { text: "Back", href:
        "/" } }) %>
    </div>
</main>
<%- include('../partials/footer') %>
