<%- include('../partials/header', { title: "Message Board" }) %>
<main class="container py-5">
    <div class="card mb-3 col-md-8">
        <%- include('../partials/card', { message, links: [{ text: "Messages",
        href: "/" }, {text: "Edit", href: "/messages/edit/" + message.id, type:
        "link-success" }, {text: "Delete", href: "/messages/delete/" +
        message.id, type: "link-danger" }] }) %>
    </div>
</main>
<%- include('../partials/footer') %>
